# SPDX-FileCopyrightText: 2023-2024 The Semantifyr Authors
#
# SPDX-License-Identifier: EPL-2.0

*._trace
/**/.classpath
.idea/
.gradle/
/**/.project
/**/.settings
/**/bin/
/**/build/

/**/emf-gen/
/**/xtend-gen/
/**/src-gen/
/**/*.xtendbin
/**/xtext-gen/
