<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="OXSTS Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-06"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.34.0.v20230406-1334"/>
			<unit id="org.eclipse.viatra.query.sdk.feature.source.feature.group" version="2.7.1.202208301145"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.31.0.v20230529-0659"/>
			<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.1.202208101410"/>
			<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.13.0.202208110935"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.13.3.202305230712"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.28"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.800.v20230523-2142"/>
			<unit id="org.eclipse.platform.ide" version="4.28.0.I20230605-0440"/>
			<unit id="org.eclipse.platform.sdk" version="4.28.0.I20230605-0440"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.28.0.v20230605-0440"/>
			<unit id="org.eclipse.sdk.ide" version="4.28.0.I20230605-0440"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
	<environment>
		<nl>en</nl>
	</environment>
</target>