# SPDX-FileCopyrightText: 2025 The Semantifyr Authors
#
# SPDX-License-Identifier: EPL-2.0

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
vcs.xml
modules.xml
misc.xml
kotlinc.xml
gradle.xml
compiler.xml
modules/
git_toolbox_prj.xml
