# SPDX-FileCopyrightText: 2023-2024 The Semantifyr Authors
#
# SPDX-License-Identifier: EPL-2.0

name: Dependency Submission
on:
  push:
    branches: [ 'main' ]
permissions:
  contents: write
jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
